    <div class = "minute">
      <p style="text-align: center;" >Your matches! </p>
    </div>



  <div id="buttons">
  <center>
  
  <a href="https://www.niche.com/colleges/{{topRAW}}" class="btn gold">{{top}}</a>
  <a href="https://www.niche.com/colleges/{{secondRAW}}" class="btn silver">{{second}}</a>
  <a href="https://www.niche.com/colleges/{{thirdRAW}}" class="btn bronze">{{third}}</a>
 
  {{#each otherMatches}}
      <a href="https://www.niche.com/colleges/{{raw}}" class="btn green">{{name}}</a>
  {{/each}}

  </center>
</div>
